html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	height: 100%;
	font-family: Verdana, Geneva, sans-serif;
	background: #fff;
	color: #343434;
	overflow: hidden;
}

menu, nav, section { display: block; }
ol, ul { list-style: none; }

table {
	border-collapse: collapse;
	border-spacing: 0;
}

p { line-height: 1.25em; margin-bottom: 20px; color: #444; }

a.close {
	position:absolute;
	display: inline-block;
	background: #5e8760;
	padding: 10px 8px;
	color: #fff;
	font-weight: bold;
	font-size: 1.4em;
	text-decoration: none;
	margin-bottom: 6px;
	bottom:10px;
}

#base{
	position: absolute;
	right: 0px;
	left: 250px;
	height: 100%;
	z-index: 3;
	overflow: hidden;
}

#add, #about, #dist, #login{
	display: block;
	width: 328px;
	height: 98%;
	background: #aaa;
	padding: 10px 11px;
	padding-top: 10px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: scroll;
	overflow-x: hidden;
	z-index: 0;
}

#mainpage {
	width: 100%;
	height: 100%;
	display: block;
	background: #aaa;
	overflow: hidden;
	position: absolute;
	z-index: 2;
	color: #fff;
}

#mainpage nav { 
	position: absolute;
	width: 250px; 
	min-height: 100%;
	padding-top: 50px;
	background: #343638;
}

#mainpage nav h1 {
	font-family: 'Trebuchet MS', Arial, sans-serif;
	font-size: 2.85em;
	line-height: 1.3em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 11px;
}

.bar rect {
  fill: #5e8760;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#navigation { list-style: none; }
#navigation li { display: block; margin-bottom: 4px; font-size: 12pt;}
#navigation li a { display: block; padding: 8px 6px; width: 100%; color: #bec585; text-decoration: none; }
#navigation li a:hover, #navigation li a.open { color: #fff; background: #484e57; }

a.disabled {
   pointer-events: none;
   cursor: default;
}

#content {
	display: block;
	margin-left: 250px;
	padding: 0px 0px;
	width: 100%;
	height: 100%;
}

#content p {
	color: #fff;
	text-shadow: 2px 1px 0px rgba(0,0,0,0.7);
}

#title{
	text-align: center;
	font-weight:100;
	color: #5e8760;
	font-size: 16pt;
	font-style: italic;
}

#legdiv{
	padding: 10px;
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 14pt;
	z-index: 4;
	color: white;
	background-color: rgba(100,100,100,.6);
}

#charttitle{
	text-align: center;
	font-size: 16px;
	display: none;
}

#logform{
	margin-top: 50px;
	width: 290px;
	height: 100px;
	font-size: 12pt;
	text-align: right;
}

#addform{
	margin-top: 50px;
	width: 290px;
	height: 300px;
	font-size: 10pt;
	text-align: right;
}

.popup .leaflet-popup-content-wrapper{
	background:rgba(255,255,255,.8);
	color:#2b423b;
	font-size:16pt;
	line-height:16px;
}

.popup .leaflet-popup-tip {
	width: 0px;
	height:0px;
}

.popup .leaflet-popup-content {
	margin: 6px 6px;
	line-height: 1.4;
}